[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui
[submodule "lib/tinyfiledialogs"]
	path = lib/tinyfiledialogs
	url = https://github.com/native-toolkit/libtinyfiledialogs.git
